.attachList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
  
.attachItem {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    user-select: none;
}
  
.attachRemove {
    color: red;
    cursor: pointer;
}